<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>通知详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="通知详情" />
    <meta name="description" content="通知详情" />
    <link rel="icon" href="{{ asset(setting('site.favicon')) }}" type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('themes/h5/style/css/global.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('themes/h5/style/css/global-v2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('themes/h5/style/css/course.css') }}">
</head>
<body class="bg-df9">
<div class="g-wrap g-pb0">
    {#<div class="g-h2 f-tac"><a href="javascript:history.back(-1);" class="back-a"><i class="back-point"></i></a>通知详情</div>#}
    {#<div class="placeHolder"></div>#}
    {% if announcement is not defined %}
    <div class="open-notice">开班公告
        <p class="s-course-progress"><span></span></p>
    </div>
    <section class="g-mb10 bg-df9">
        <article class="g-font-color course-detailContent">
            无此公告
        </article>
    </section>
    {% else %}
        <div class="open-notice">{{ announcement.title | escape }}
            <p class="s-course-progress"><span>{{ announcement.createTime |date('Y-m-d') }}</span></p>
        </div>
        <section class="g-mb10 bg-df9">
            <article class="g-font-color course-detailContent">
                {{ announcement.content |escape }}
            </article>
        </section>
    {% endif %}
</div>
</body>
</html>
