{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class= "modal-lg" %}

{% block title %}选择 {% endblock %}
    {% block body %}
        <style>
            .course-item:hover {
                cursor: pointer;
            }

            .course-wide-list .course-item .select {

            }
        </style>



        <table id="tag-table" class="table table-striped">
            <thead>
            <th width="10%">选择</th>
            <th width="40%">分类名称</th>
            <th width="10%">分类ID</th>
            <th width="40%">栏目路径</th>
            </thead>
            <tbody>
            {% if  categories %}
                {% for category in categories %}
                    <tr id="category-tr-{{ category.sectionId }}" data-name="{{ category.sectionName }}">
                        <td><input name="newsIds" type="checkbox" value="{{ category.sectionId }}"/></td>
                        <td>
                            {% for i in 0..(category.depth-1)*2 %}&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}
                            └─ {{ category.sectionName }}
                        </td>
                        <td>{{ category.sectionId }}</td>
                        <td>{{ category.sectionPath }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="20">
                        <div class="empty">暂无记录</div>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {#{{ web_macro.paginator(paginator) }}#}

    {% endblock %}

    {% block footer %}
        <button id="sure" class="btn btn-primary pull-right"
                data-url="{{ path('news_category_select',{id:id,type:type}) }}">添加
        </button>
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>

        <script>app.load('customadminbundle/controller/category-manager/pick')</script>
    {% endblock %}
