{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class= "modal-lg" %}

{% block title %}选择基地{% endblock %}
{% block body %}
    <style>
        .course-item:hover {
            cursor: pointer;
        }

        .course-wide-list .course-item .select {

        }
    </style>


    <form class="form-inline form-search" role="search-form">
        <div class="form-group ">
            <input type="text" class="form-control" name="key" id="enterSearch" value="" placeholder="基地名称" data-url="">
        </div>
        <button type="button" class="btn btn-primary" id="search"
                data-url="{{ path('course_manage_product_base_pick',{courseId:courseId}) }}">搜索
        </button>
        <a class="btn btn-primary" id="all-courses"
           data-url="{{ path('course_manage_product_base_pick',{courseId:courseId}) }}">全部基地</a>
    </form>

    <table id="tag-table" class="table table-striped">
        <thead>
        <th width="20%">选择</th>
        <th width="10%">ID</th>
        <th width="50%">名称</th>
        <th width="20%">添加时间</th>
        </thead>
        <tbody>
        {% if productBases %}
            {% for productBase in productBases %}
                <tr id="productBase-tr-{{ productBase.id }}">
                    <td><input name="productBaseIds" type="checkbox" value="{{ productBase.id }}"/></td>
                    <td>{{ productBase.id }}</td>
                    <td>{{ productBase.title }}</td>
                    <td>{{ productBase.createdTime|date('Y-m-d H:i') }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="20">
                    <div class="empty">暂无基地记录</div>
                </td>
            </tr>
        {% endif %}

        </tbody>
    </table>

    {{ web_macro.paginator(paginator) }}

{% endblock %}

{% block footer %}
    <button id="sure" class="btn btn-primary pull-right"
            data-url="{{ path('course_manage_product_base_select', {id:courseId}) }}">添加
    </button>
    <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>

    <script>app.load('topxiawebbundle/controller/product-base/pick')</script>
{% endblock %}